body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

ul {
  list-style-type: none;
  border: 5px solid black;
  padding: 25px;
}

header {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  padding: 50px;
}

.container {
  margin: 30px 15px;
  padding: 50px;
  display: flex;
  gap: 30px;

  /* justify-content: space-between; */
}

.left-side {
  padding: 15px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 10px;
  align-items: center;
}

.btn {
  height: 50px;
  font-size: 25px;
  padding: 5px;
}

.score {
  padding: 10px;
  width: 200px;
}

.score:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.39);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

input {
  height: 30px;
  font-weight: bold;
}

.submit {
  /* width: 50%; */
  height: 50px;
  font-size: 25px;
  padding: 5px;
}
