body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  padding: 50px;
}

.container {
  margin: 30px 15px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.left-side {
  padding: 15px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 10px;
  align-items: center;
}

.btn {
  height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

input {
  height: 30px;
  font-weight: bold;
}

.submit {
  width: 50%;
}
